.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: flex-start;
  overflow: scroll;
  margin: auto;
  width: 100%;
  height: calc(100vh - 100px);
  background: url(https://cssanimation.rocks/images/random/space2.jpg) repeat center;

  & .content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  & .contentMobile {
    position: absolute;
    bottom: 0px;
    max-width: 100%;
    overflow: hidden;
  }
    & .button {
     color: var(--text-button);
     font-size: 20px;
     font-style: normal;
     font-weight: 900;
     line-height: 24px;
     justify-content: center;
     align-items: center;
     border-radius: 12px;
     background-color: rgba(248, 250, 247, 0.4);
     margin: auto;
     color: rgb(107, 172, 8);
     text-align: center;
     text-shadow: 2px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
     font-size: 2rem;
     margin-top: 20px;
     width: 100%;
   }
   & .button:hover {
     color: rgb(52, 238, 64);
   }
   & .span {
     margin: auto;
     color: rgb(107, 172, 8);
     text-align: center;
     text-shadow: 2px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
     font-size: 2rem;
      margin-top: 20px;
   }

   & .cardResultContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 20px;
   
      & .cardResult {
        max-width: 200px;
        max-height: 200px;
        overflow: hidden;
        margin: 8px;
        border: 2px solid rgb(0, 255, 17);
        border-radius: 10px;
      }
   }
}
