@import "./assets/styles/reset";
@import "./assets/styles/constant.scss";

body {
    overflow-x:hidden;
    min-height: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    user-select: none;
    background-color: var(--background-solid-basic);
  }
  body:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}
#root {
  min-height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}
