
body {
    --text-static-white: #FFF;
    --text-primary: #222222;
    --text-secondary: #525252;
    --text-accent: #3A83F1;
    --text-error: #F5443A;
    --text-button: #ffffff;
    --tertiary: #868686;

 
    --background-basic: #222222;
    --background-solid-basic: #ffffff;
    --background-elements-primary: #E5E5E5;
    --background-extra-special: #D9D9D9;
    --background-secondary: #050506;

    --button-basic: #050506;
    --button-secondary: #969494;
    --button-accent: #3A83F1;
}